@model IEnumerable<Item>
@{
  ViewData["Title"] = "محصولات ";
}
@if (TempData["success"] != null)
{
  <h3 class="text-center temp-data-success">@TempData["success"]</h3>
}
<div class="container p-3 mt-5">

  <div class=" text-center">
    <a asp-controller="Item" asp-action="Create" class="btn btn-primary">افزودن
      محصول جدید
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle"
        viewBox="0 0 16 16">
        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
        <path
          d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
      </svg>
    </a>
    <h1 class="text-primary text-center"> لیست محصولات</h1>
  </div>
</div>
<div class="mb-4 container">
  <div class="g-3 row row-cols-lg-4 row-cols-md-2 row-cols-1">
    @foreach (var obj in Model)
    {
      <div class="col ">
        <div class="h-100 card item d-flex ">
          <div class="d-flex justify-content-center">
            <div class="d-flex justify-content-center">
              <img src="~/Images/@obj.ImageName " style="object-fit:cover;" height="200px" class="card-img-top " />
            </div>
          </div>
          <div class="d-flex flex-column card-body">
            <div class="d-flex justify-content-between align-items-baseline mb-4 card-title h5">
              <h6 class="text-right text-muted">@obj.Price</h6>
              <h5 class=" text-right">@obj.Name</h5>
            </div>
            <div class="mt-auto">
              <div class="row justify-content-between">
                <div class="col  w-50">
                  <a asp-controller="Item" asp-route-id="@obj.Id" asp-action="Edit"
                    class="w-100 btn btn-primary ">ویرایش</a>
                </div>
                <div class=" w-50 ">
                  <a asp-controller="Item" asp-route-id="@obj.Id" asp-action="Delete"
                    class="w-100 btn btn-primary">حذف</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    }
  </div>
</div>
