@model IEnumerable<Item>
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Name)</th>
            <th>@Html.DisplayNameFor(model => model.Price)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>
                    <label>@product.Name</label>
                </td>
                <td>
                    <label>@product.Price</label>
                </td>
                <td>
                    @Html.ActionLink("Buy", "Buy", "Card", new { name = product.Name
                },
                new { @class = "btn btn-primary" })
                </td>
            </tr>
        }
    </tbody>
</table>